html, body {
    margin: 0;
    
    font-family: 'Open Sans';
    color: hsl(205, 30%, 10%);
}

.content {
    box-shadow: 0 0 3rem black inset;
    
    box-sizing: border-box;
}

.smallDivider {
    background-color: hsl(205, 30%, 95%);
}

.button {
    
    padding: 1rem;
    background-color: hsl(205, 75%, 60%);
    border: none;
    border-radius: 30px;
    
    font-size: 2em;
    text-decoration: none;
    color: hsl(205, 30%, 95%);
    
    transition: background-color 250ms, color 250ms;
}

.button:hover {
    background-color: hsl(205, 50%, 40%);
    color: hsl()
}

#intro {
    padding: 2rem;
    background: url('../img/butterfly.png') no-repeat bottom 30% center;
    background-size: auto 60%;
/*    background-attachment: fixed;*/
    
}

#intro > * {
    margin: 0;
}

#intro #title {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: lighter;
    color: hsl(205, 70%, 5%);
}

#intro #title img {
    width: 4rem;
    height: 4rem;
}

#intro #botText {
    position: absolute;
    bottom: 0;
    
    font-weight: lighter;
    color: hsl(205, 75%, 25%);
}

#resources {
    background: url('../img/freedom_slavery.png') no-repeat top;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    padding: 2rem;
    
    
    min-height: 250px;
}

#media {
    width: 90%;
    margin-bottom: 4rem;
    border-radius: 3px;
    background: url('../img/logo.png') no-repeat bottom 1rem left 1rem hsl(205, 30%, 97%, 75%);
    background-size: 10%;
    
    text-align: center;
}


#socials {
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 100px;
}

#socials img {
    width: 4em;
}

#socials div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 1em;
}

#resources h1 {
    font-size: 2rem;
}

.display-case > div {
    height: 90%;
    width: 30%;
    
    background: hsl(205, 30%, 95%, 75%);
}

footer {
    text-align: center;
    
    color: hsl(205, 30%, 85%);
}

@media only screen and (orientation:portrait) {
    html {
        font-size: 10px;
    }
    .button {
        padding: 2rem;
        
        font-weight: bold;
    }
    #socials {
        flex-direction: column;
        
        font-size: 1.75rem;
    }
}